.options {
  z-index: 999;
  background-color: rgb(230, 230, 230);
  padding: 20px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

button {
  background-color: rgb(180, 180, 180);
  border-style: none;
  border-radius: 10px;
  width: 4vw;
  height: 4vw;
  margin: 5px;
  min-width: 30px;
  min-height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover {
  cursor: pointer;
}

#ancient {
  background-image: url("./assets/ancient-icon.svg");
}
#contemporary {
  background-image: url("./assets/contemporary-icon.svg");

}
#futuristic {
  background-image: url("./assets/futuristic-icon.svg");
}
